body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .button-container {
    margin: 40px auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #subir {
    background-color: #4CAF50;
    color: white;
  }
  
  #eliminar {
    background-color: #FF0000;
    color: white;
  }
  
  #cambiar {
    background-color: #CCCCCC;
    color: black;
  }
  
  .btn:hover {
    opacity: 0.8;
  }