*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
    }

body{
        background: url('/css/bg.png') no-repeat center center;
        background-size: cover;
        height: 100vh;
}    
.Div_Formulario{
    margin: 50px auto;
    padding: 100px;
    text-decoration: none;
    color: rgb(39, 20, 150);
    position: absolute;
    top: 19%;
    left: 32%;
    transform: translate (-50%, -50%);
    background-color: #fdf68e;
    font-family: 'calibri', sans-serif;
    font-size: 40px;
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #000;
  }


  .bonito {
    flex-basis: 100%;
    padding: 10px;
    max-width: 1000px;
    background-color: #967aa3;
    color: #f2f3ab;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 12px;
    box-shadow: 0 0 3px #000;
  }

 .bonito:hover {
    background-color: #4402f9;
  }

input {
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #967aa3;
    color: #f2f3ab;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 5px #000;
    margin-bottom: 10px;
  }

  select {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #967aa3;
    color: #f2f3ab;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 5px #000;
    margin-bottom: 10px;
  }

button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    max-width: 300px; /* adjust the width to your liking */
}
