*{
padding:  0;
margin: 0;
box-sizing: border-box;
}

body{
    background: url('bg.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

a{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 30%;
    left: 42%;
    transform: translate (-50%, -50%);
    background-color: rgba(203,173,211,1);
    padding: 130px 75px;
    font-family: 'calibri', sans-serif;
    text-transform: uppercase;
    border-radius:50%;
    animation: animacion 3s linear infinite;
    font-size: 40px;
    box-shadow: 4 10 100px #16093a;
}

@keyframes animacion{
    0%{
        box-shadow: 0 0 0 0 rgba(173,128,187,.4), 0 0 0 0 rgba(173,128,187,.4);
    }
    30%{
        box-shadow: 0 0 0 70px rgba(173,128,187,0), 0 0 0 0 rgba(173,128,187,.6);
    }
    65%{
        box-shadow: 0 0 0 4cap rgba(173,128,187,0), 0 0 0 40px rgba(173,128,187,0);
    }
    100%{
        box-shadow: 0 0 0 0px rgba(173,128,187,0), 0 0 0 0px rgba(173,128,187,0);
    }
}