<!-- HTML -->
<!DOCTYPE html>
<html>
<head>
  <title>AdminAcciones</title>
  <link rel="stylesheet" href="/css/style-AccionesAdmin.css">
</head>
<body>
    <div class="Pregunta">
        <h1>¿Que desea hacer?</h1>
    </div>
  <div class="button-container">
    <button class="btn" onclick="location.href='/Add'" id="subir">Subir</button>
    <button class="btn" id="eliminar">Eliminar</button>
    <button class="btn" id="cambiar">Cambiar</button>
  </div>

</body>
</html>