<link rel="stylesheet" type="text/css" href="/css/style-MostrarMaterias.css">
<div class="Titulo"> Horario</div>
<table class="tabRet" id="tablaMaterias">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each materias}}
      <tr class="filaMateria">
        <td>
          <div class="reticula clickable" data-id="{{@index}}">
            <p>{{Nombre}}</p>
            <div class="abajo"><hr/><p>{{Horario}}</p></div>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="button-container">
  <button class="bonito" onclick="location.href='/preguntas'">Volver</button>
</div>
