<link rel="stylesheet" type="text/css" href="/css/style_materias.css">
<table class="tabRet">
  <thead>
    <tr>
      <th class="titulo">Nombre y Horario</th>
    </tr>
  </thead>
  <tbody>
    {{#each materias}}
      <tr>
        <td >
          <div class="reticula clickable" data-id="{{@index}}">
            <p>{{Nombre}}</p>
            <div class="abajo"><hr/><p>{{Horario}}</p></div></div>
          </div>

        </td>
        
      </tr>
    {{/each}}
  </tbody>
</table>
        <div class="botones">
                <button class="volver" onclick="location.href='/preguntas'">Volver</button>
                <button id="botonHorario">Materias</button>
        </div>

<script src="mostrarMaterias.js"></script>