<!-- HTML -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
  <link rel="stylesheet" href="/css/style-login.css">
</head>
<body>
  <div class="Titulo">
    <h1>Login System</h1>
  </div>
  <form id="login-form">
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario"><br><br>
    <label for="contrase単a">Contrase単a:</label>
    <input type="password" id="contrase単a" name="contrase単a"><br><br>
    <input class="bonito" type="submit" value="Login">
  </form>

  <div id="login-status"></div>

  <script src="login.js"></script>
</body>
</html>