<!DOCTYPE html>
<html>
<head>
  <title>Mis materias</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Mis materias</h1>
  <div id="materias"></div>

  <script src="script.js"></script>
</body>
</html>