<link rel="stylesheet" type="text/css" href="/css/style_materias.css">
<table class="tabRet">
  <thead>
    <tr>
      <th>Nombre y Horario</th>
    </tr>
  </thead>
  <tbody>
    {{#each materias}}
      <tr>
        <td >
          <div class="reticula clickable" data-id="{{@index}}">
            <p>{{Nombre}}</p>
            <div class="abajo"><hr />{{Horario}}</div></div>
          </div>

        </td>
        
      </tr>
    {{/each}}
  </tbody>
</table>
<script src="materias.js"></script>